@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@700&display=swap');

/*@import "~@glidejs/glide/dist/css/glide.core";*/
/*@import "~@glidejs/glide/dist/css/glide.theme";*/

@layer base {
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
}

@layer utilities {

    .primary-color {
        color: darkgreen;
    }
    .secondary-color {
        color: #94b4cc;
    }

    .primary-color-bg {
        background-color: #d1d5db;
    }

    .light-color {
        color: #d1d5db;
    }
    .purple-color-bg {
        background-color: #ecf4f9;
    }
    .line-bg-color {
        background-color: #4C1D95;
    }
    .footer-color{
        background-color: #047857;
    }
    .but-color{
        background-color: #047857;
    }
}


@layer components {

    body {
        @apply purple-color-bg bg-opacity-75
    }


    a,h1,h2,h3,h4,p,button,.f {
        font-family: 'Tajawal', sans-serif;
        @apply primary-color
    }
    label{
        font-family: 'Tajawal', sans-serif;
        @apply text-gray-800
    }
    .line{
        @apply h-1 mx-auto w-64 opacity-25 my-0 py-0 rounded-t but-color
    }

    .btn {
        @apply text-center flex-shrink-0 but-color text-white text-base font-semibold py-2 px-4 rounded-lg shadow-md hover:opacity-75 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-200
    }

    .btn-cancel {
        @apply text-center flex-shrink-0 bg-gray-600 text-white text-base font-bold py-2 px-6 rounded-lg shadow-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-200
    }

    .form-select, select[name="perPage"] {
        background-position: left 0.5rem center;
    }
    .hover-trigger .hover-target{
        display: none;
        background-color: #f1f1f1;
        padding: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-size: 14px;
        @apply truncate;
    }
    .hover-trigger:hover .hover-target {
        display: block;
        text-decoration: none;
        cursor: pointer;
        padding: 12px 27px;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }


    .sidebar {
        @apply block px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-gray-300 rounded-lg

    }
    .sidebar:hover {
        @apply bg-gray-400  text-white;
    }

    .sidebar:active {
        @apply ring ;
    }

    .links
    {
        @apply  lg:px-5 py-3 flex items-center uppercase font-bold leading-snug text-gray-600 hover:opacity-75;
    }
    .links:focus{
        @apply  outline-none ring-2 ring-green-500 ring-offset-2 rounded-lg;
    }
    .links:hover{
        @apply  text-green-900 opacity-75 bg-gray-100 rounded-lg;
    }

    th{
        @apply p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell
    }
    tr{
        @apply bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-nowrap mb-10 lg:mb-0
    }
    td{
        @apply w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static
    }

    table{
        @apply border  w-full
    }
    p {
        @apply font-medium text-gray-600
    }

    h1{
        @apply mb-10 text-center text-2xl primary-color
    }

    h4{
        @apply mt-2 text-xl leading-7 font-semibold text-gray-900
    }

    h3{
        @apply mt-2 text-3xl leading-7 font-semibold text-gray-900 text-center pb-3
    }

    .input{
        @apply p-1 px-2 appearance-none outline-none w-full text-gray-800
    }
    .divUser{
        @apply  my-2 p-1 flex  border-gray-200 rounded
    }

    .scroll-top {
        width: 55px;
        height: 50px;
        position: fixed;
        bottom: 25px;
        left: 20px;
        display: none;
    }
    .scroll-top i {
        display: inline-block;
        color: #FFFFFF;
    }

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Caption text */
    .text {
        color: #ffffff;
        font-size: 30px;
        font-weight: bold;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev {
        left: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }



}
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
@media print {
    body *, .unprint-area {
        visibility: hidden;
    }
    .print-area * {
        visibility: visible;
    }
    .print-area {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
    }
}

